<p style="color: green; font-size: 18px; margin-top: 10px;"> <%= notice %> </p>

<%= render @rating %>

<div class="rating-actions">
  <%= link_to "Edit this rating", edit_topic_post_rating_path(params[:topic_id], params[:post_id], @rating), class: "edit-link" %> |
  <%= link_to "Back to ratings", topic_post_ratings_path(params[:topic_id], params[:post_id]), class: "back-link" %>

  <%= button_to "Destroy this rating", topic_post_rating_path(params[:topic_id], params[:post_id], @rating),
                method: :delete, data: { turbo_confirm: 'Are you sure' }, class: "destroy-button" %>
</div>
