<p class="notice" style="color: green"><%= notice %></p>

<%= render @tag, class: "tag-details" %>

<div class="tag-actions">
  <%= link_to "Edit this tag", edit_tag_path(@tag), class: "edit-tag-link" %> |
  <%= link_to "Back to tags", tags_path, class: "back-to-tags-link" %>

  <%= button_to "Destroy this tag", @tag, method: :delete, data: { turbo_confirm: 'Are you sure' }, class: "destroy-tag-button" %>
</div>
